@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "futura";
    src: url('../src/assets/futura.ttf');
}

@font-face {
    font-family: "helvetica";
    src: url('../src/assets/helvetica.ttf');
}